<div class="geocode-body">

{% if geocoderesult %}
    <span class="lead">
      {% if geocoderesult is empty %}
        No around found...maybe another object?
      {% else %}
        <ul class="list-unstyled geo-ul">
          {% for res in geocoderesult %}
            <li class="mb-2 geo-li"> 
              <a href="/{{res.slug}}" class="geo-link">{{res.h1}}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </span>
{% else %}
    <span class="text-muted">
        No around found...maybe another object?
    </span>
{% endif %}    

</div>
